.serviceDetailCardA{
    
        width: 555px;
        height: 240px;
        background: #013A6B;
        text-align: start;
        position: absolute;
        top: 165%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-family: 'Mulish';
font-style: normal;
        
}

.serviceDetailCard1A{
    width: 555px;
    height: 420px;
    background: #013A6B;
    text-align: start;
    position: absolute;
    top: 250%;
    right: -20%;
    transform: translate(-50%, -50%);
    font-family: 'Mulish';
font-style: normal;
}

.partners h1{
    font-weight: 700;
    font-size: 39.06px;
    line-height: 49px;
    /* identical to box height */
    font-family: 'Mulish';
font-style: normal;
    
    color: #013A6B;
    padding-bottom: 30px;
    text-align: start;
}

.partners{
    padding: 15px 6rem;
    text-align: start;
    padding-bottom: 30px;
    font-family: 'Mulish';
font-style: normal;
}

.pic1A{
    
        left: 1440px;
        margin-left: 528px;
        margin-bottom: 50px;
    
    
    
}
.pic2{
    width: 80%;
}

.InnovationTechnology{
    max-width: 1200px;
}