.BlogList-Wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    padding-bottom: 50px;
    padding-left: 55px;
    padding-right: 55px;
    text-decoration: none;
}