.chipWrapB{
  display: flex;
  text-align: center;

}

.BlogItem-Wrap{
    display: flex;
    flex-direction: column;
}

.BlogItem-Cover{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: .5rem;
}

.BlogItem-Wrap h3{
    margin: .5rem 0 1rem 0;
    height: 60px;
    text-align: start;
    font-family: 'Mulish';
font-style: normal;

}

.blogItem-des{
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: .9rem;
    padding-right: .6rem;
    color: #a9a9a9;
    font-family: 'Mulish';
font-style: normal;

    text-align: start;
}

.blogItem-des::before{
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
}

.BlogItem-Wrap footer{
    display: flex;
    align-items: center;
    margin-top: .8rem;
    justify-content: space-between;
}

.BlogItem-Link{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.BlogItem-Link button{
    border: 1px solid #013A6B;
    font-weight: 500;
}



.BlogItem-Link i{
   padding-left: 10px;
    
}

.BlogItemAuther{
    display: flex;
    align-items: center;
}

.BlogItemAuther p{
    font-size: 1rem;
    color: #a9a9a9;
    font-family: 'Mulish';
font-style: normal;

    font-weight: 600;
    
}

.BlogItemAuther h6{
    font-size: 1rem;
    color: black;
    font-family: 'Mulish';
font-style: normal;

    font-weight: 600;
    
}



