.chip{
    font-size: 1.4rem;
    background: linear-gradient(to right,
    #013A6B,#FF5722);
    color: white;
    margin-bottom: 25px;
    padding: .3rem .5rem;
    border-radius: 5px;
    margin-left: 25px;
    width: fit-content;
    text-transform: capitalize;
}