.chip{
    font-size: .7rem;
    background: linear-gradient(to right, #013A6B,#FF5722 );
    color: #fff;
    padding: .3rem .4rem;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
    margin-right: 20px;
}