.s-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.s-image img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
}

.s-image:hover img {
    transform: scale(1.3);
}

.t-cardA {
    width: 200px;
    height: 550px;

    text-align: start;
    border-color: #013A6B;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem .8rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    font-family: 'Mulish';
    font-style: normal;
    margin-bottom: 40px;


}

.whowearebuttonA {
    margin-top: 20px;
    border: 1px solid #013A6B;
    border-radius: 5px;
    background-color: transparent;
    width: 206px;
    height: 55px;
    font-family: 'Mulish';
    font-style: normal;
}

.t-cardA:hover button{
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #013A6B;
    width: 206px;
    height: 55px;
    font-family: 'Mulish';
    font-style: normal;
    color: white;
}

.t-cardA h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 92%;
    /* identical to box height, or 22px */

    letter-spacing: -0.03em;
    padding-top: 16px;

    color: #013A6B;

}

.t-cardA:hover {
    background-color: #013A6B;
}

.t-cardA h6 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    /* identical to box height, or 17px */

    letter-spacing: -0.03em;
    padding-top: 16px;
    text-transform: uppercase;

    color: rgba(52, 52, 52, 0.65);
}

.t-cardA p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 159.5%;
    margin-top: 20px;
    /* or 32px */

    letter-spacing: -0.01em;

    color: #222222;

}

.t-cardA:hover p {
   
    color: #DFE8F8;
}

.t-cardA:hover h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 92%;
    /* identical to box height, or 22px */

    letter-spacing: -0.03em;

    color: #ffffff;

}

.t-cardA:hover h6 {
    color: rgba(255, 255, 255, 0.65);
}