.Regularhero {
    width: 100%;
    position: relative;
}

.FAQhomeimg {
    width: 100%;

    object-fit: cover;
}

 .RegularHero-Backgroundtext{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-left: 20px;
    margin-top: 40px;
background-color: red;


}

.RegularHero-text{
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40%;
    margin-left: 20px;

    text-align: start;
    margin-left: 100px;
    margin-top: 54px;

}

.RegularHero-text h1{

font-weight: 300px;
font-size: 48px;
line-height: 123.6%;
/* or 59px */

text-transform: capitalize;

color: #FFFFFF;
font-family: 'Mulish';
font-style: normal;

}

.Regular-sub{
    font-size: 10px;
}

.RegularHero-text p{
   
font-weight: 100px;
font-size: 20px;
line-height: 150.6%;
/* or 36px */
font-family: 'Mulish';
font-style: normal;

color: #FFFFFF;

}

.Regualr-description{
    margin-top: 33px;
}

.RegularHero-Backgroundtext h1{
  
    font-weight: 700;
    width: 100%;
    font-size: 200px;
    line-height: 0px;
    /* identical to box height */

    text-align: center;
 
    opacity: 0.17;

    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;

    
}
.RegularHero-Backgroundtext{
    width: 80%;
}

