.SearchBar-Style{
    align-items: start;
    padding-left: 2rem;
    width: 370px;
    border: 1px solid #013A6B;
    
height: 40px;
    /* White */

background: white;
/* Effect-1 */


box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
border-radius: 20px;

    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }

.SearchBar-wrap{
    margin-top: 27px;
    margin-right: 7px;
}

.GoButton-Style{
    border-radius: 20px;
    height: 30px;
    width: 60px;
    padding-bottom: 20px;
    font-weight: 400;
    
outline: none;
text-align: center;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
border: 1px solid #013A6B;
background-color: #013A6B;
color: #fff;
position: absolute;
top: 135.6%;

left: 95%; /*if you leave out this and the next one you can keep them on the left like in the design link*/
transform: translate(-50%,-50%);

}
.GoButton-Style:hover{
    background-color: #013A6B;
}

.Suggestions{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}
.TheAutoOnes{
    padding: 5px;
    cursor: pointer;
}
.TheAutoOnes:hover{
    color: grey;
    
}


.SearchBar-wrap span{
    padding-right: 0 ;
    cursor: pointer;
    position: absolute;
    top: 135.62%;
    
    left: 92%; /*if you leave out this and the next one you can keep them on the left like in the design link*/
    transform: translate(-50%,-50%);
}