.SearchBar-Style{
    align-items: start;
    padding-left: 2rem;
    width: 370px;
height: 60px;
    /* White */

background: white;
/* Effect-1 */
border: 1px solid black;

box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px 0 0 10px ;

    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }

.SearchBar-wrap{
    text-align: start;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.GoButton-Style{
    border-radius: 0 10px 10px 0 ;
    height: 60px;
    width: 60px;
    border: 1px solid black;
outline: none;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);


}


.SearchBar-wrap span{
    padding-right: 0 ;
    cursor: pointer;
    position: absolute;
    top: 66%;
    
    left: 33%; /*if you leave out this and the next one you can keep them on the left like in the design link*/
    transform: translate(-50%,-50%);
}