.pic1 {
    left: 1440px;
    margin-left: 340px;
    margin-bottom: 50px;


}

.serviceDetailCard {
    width: 555px;
    height: 459px;
    background: #013A6B;
    text-align: start;
    position: absolute;
    top: 151%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Mulish';
font-style: normal;
    
}

.serviceDetailCardTitle {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 34px;
    font-weight: 800;
    font-size: 24.06px;
    line-height: 30px;
    font-family: 'Mulish';
font-style: normal;

    color: #FFFFFF;
}

.serviceDetailCardDetail {
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    /* or 200% */

    font-family: 'Mulish';
    font-style: normal;
    color: #FFFFFF;
    padding-left: 40px;
}

.serviceDetailCard button{

 margin-top: 33px;
 margin-left: 40px;  
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 background-color: transparent;
 color: white;
 font-family: 'Mulish';
 font-style: normal;
}







.pic2 {
    left: 1440px;
    margin-right: 380px;
    margin-bottom: 50px;

    font-family: 'Mulish';
    font-style: normal;
}

.serviceDetailCard1 {
    width: 555px;
    height: 459px;
    background: #013A6B;
    font-family: 'Mulish';
font-style: normal;
    text-align: start;
    position: absolute;
    top: 254%;
    right: -20%;
    transform: translate(-50%, -50%);
    
}

.serviceDetailCardTitle1 {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: 800;
    font-size: 24.06px;
    line-height: 20px;
    font-family: 'Mulish';
font-style: normal;

    color: #FFFFFF;
}

.serviceDetailCardDetail1 {
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    /* or 200% */
    font-family: 'Mulish';
font-style: normal;


    color: #FFFFFF;
    padding-left: 25px;
}

.serviceDetailCard1 button{

 margin-top: 33px;
 margin-left: 40px;  
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 background-color: transparent;
 color: white;
 font-family: 'Mulish';
font-style: normal;

}

.ShiftingButtons button{
    width: 242px;
height: 61px;
border-radius: none;
box-shadow: none;
border: 1px solid #FFFFFF;
color: #FFFFFF;
font-family: 'Mulish';
font-style: normal;

}

.ShiftingButtonsb1{
    position: absolute;
top: 298%;
left: 8.94%;
transform: translate(-50%, -50%);
font-family: 'Mulish';
font-style: normal;

}

.ShiftingButtonsb1:hover{
    background-color: transparent;
}
.ShiftingButtonsb2:hover{
    background-color: transparent;
}
.ShiftingButtonsb3:hover{
    background-color: transparent;
}



.ShiftingButtonsb2{
    position: absolute;
top: 298%;
left: 26.8%;
transform: translate(-50%, -50%);
font-family: 'Mulish';
font-style: normal;
}

.ShiftingButtonsb3{
    position: absolute;
top: 298%;
left: 44.7%;
transform: translate(-50%, -50%);
font-family: 'Mulish';
font-style: normal;
}


.ServiceSection2-1-{
    max-width: 1200px;
}