.SpecialServices {
    margin: 0px 6rem;

}

.SpecialServices h1{
    text-align: start;
    font-weight: 700;
font-size: 39.06px;
line-height: 49px;
/* identical to box height */

font-family: 'Mulish';
font-style: normal;
color: #013A6B;
padding-bottom: 20px;
}

.SpecialServicesDes {
    font-weight: 500;
font-size: 20px;
line-height: 30px;
font-family: 'Mulish';
font-style: normal;
/* or 150% */


color: #6A6A6A;
text-align: start;
padding-bottom: 50px;
}

.SpecialServices img{
    margin-left: 263px;
}

.ServicePreview{
    display: flex;
   
    align-items: center;
    width: 995px;
    height: 125px;
    background-color: transparent;
    position: absolute;
    top: 321%;
    left: 63.4%;
    transform: translate(-50%, -50%);
    font-family: 'Mulish';
font-style: normal;
    
    


}

.ServicePreview p{
    padding-left: 110px;
    text-align: start;

    font-weight: 500px;
font-size: 18px;
font-family: 'Mulish';
font-style: normal;
line-height: 32px;
/* or 179% */


color: #FFFFFF;

}

.ServicePageReadmore{

    background-color: transparent;
    color: white;
    margin-right: 35px;
    width: 164.8px;
height: 44px;
border: 1px solid #FFFFFF;
border-radius: 5px;
font-weight: 400px;
font-family: 'Mulish';
font-style: normal;
}

.ServicePageReadmore:hover{
    background-color: #013A6B;
}


.serviceOptions{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #013A6B;
        width: 445px;
height: 459px;
position: absolute;
top: 279%;
left: 20%;
transform: translate(-50%, -50%);
align-items: stretch;
font-family: 'Mulish';
font-style: normal;
}

.link1{
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 130px;
    padding-top: 55px;
    font-family: 'Mulish';
font-style: normal;
    text-align: start;
}
.link2, .link3, .link4, .link5, .link6{
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 130px;
    font-family: 'Mulish';
font-style: normal;
    text-align: start;
}

.scroll{
    width: 4px;
height: 335px;
background-color: #FF5300;
position: absolute;
top: 278.5%;
left: 9%;
transform: translate(-50%, -50%);

}

.scroll1{
    width: 4px;
    height: 240px;
    background-color: #DFDFDF;
    position: absolute;
    top: 278.5%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}
.scroll2{
    width: 4px;
    height: 240px;
    background-color: #DFDFDF;
    position: absolute;
    top: 285.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}

.ServicePages{
display: flex;
position: absolute;
flex-direction: column;
top: 309.9%;
left: 9%;
transform: translate(-50%, -50%);
font-family: 'Mulish';
font-style: normal;
}

.CurrentPage{
    transform: rotate(270deg);
    color:#FF5300;
    font-weight: 500;
font-size: 16px;
line-height: 28px;
font-family: 'Mulish';
font-style: normal;

}
.noOfPages{
    transform: rotate(270deg);
    color: white;
    font-weight: 500;
font-size: 16px;
line-height: 28px;
font-family: 'Mulish';
font-style: normal;
}

.pageNumbers{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
position: absolute;
top: 280%;
left: 12%;
transform: translate(-50%, -50%);
align-items: stretch;
font-family: 'Mulish';
font-style: normal;
}

.p11{
    padding-bottom: 30px;
    text-decoration: none;
    font-family: 'Mulish';
font-style: normal;
    font-size: 24px;
    text-align: start;
}

.p2111, .p31 ,.p41,.p51,.p61{
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Mulish';
font-style: normal;
    text-align: start;
}

.scro2l{
    width: 4px;
height: 335px;
background-color: #FF5300;
position: absolute;
top: 278.5%;
left: 9%;
transform: translate(-50%, -50%);

}

.scro2l1{
    width: 4px;
    height: 43px;
    background-color: #DFDFDF;
    position: absolute;
    top: 255.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 1;
    

}
.scro2l2{
    width: 4px;
    height: 235px;
    background-color: #DFDFDF;
    position: absolute;
    top: 286.2%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}
.scro3l{
    width: 4px;
height: 335px;
background-color: #FF5300;
position: absolute;
top: 278.5%;
left: 9%;
transform: translate(-50%, -50%);

}

.scro3l1{
    width: 4px;
    height: 110px;
    background-color: #DFDFDF;
    position: absolute;
    top: 260.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 1;
    

}
.scro3l2{
    width: 4px;
    height: 169px;
    background-color: #DFDFDF;
    position: absolute;
    top: 291.2%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}

.scro4l1{
    width: 4px;
    height: 165px;
    background-color: #DFDFDF;
    position: absolute;
    top: 265.3%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 1;
    

}
.scro4l2{
    width: 4px;
    height: 111px;
    background-color: #DFDFDF;
    position: absolute;
    top: 295.8%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}
.scro5l1{
    width: 4px;
    height: 224px;
    background-color: #DFDFDF;
    position: absolute;
    top: 269.9%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 1;
    

}
.scro5l2{
    width: 4px;
    height: 48px;
    background-color: #DFDFDF;
    position: absolute;
    top: 300.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}
.scro6l1{
    width: 4px;
    height: 286px;
    background-color: #DFDFDF;
    position: absolute;
    top: 274.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 1;
    

}
.scro6l2{
    width: 4px;
    height: 0;
    background-color: #DFDFDF;
    position: absolute;
    top: 300.7%;
    left: 9%;
    transform: translate(-50%, -50%);
    

}