.Testimonies{
    margin: 0px 6rem;
    color: #013A6B;
}

.Testimonies h1{
    font-size: 3rem;
    margin-bottom: 15px;
    text-align: start;
    margin-top: 50px;
    font-family: 'Mulish';
font-style: normal;
}

.swiper{
    margin-top: 50px;
    border: none;
    border-radius: 15px;
    font-family: 'Mulish';
font-style: normal;
}

.t-card{
    width: 624px;
    height: 362px;
    margin-right: 36px;
    text-align: start;
    border-color: #013A6B;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem .8rem;
    position: relative;
    transition: all 0.5s ease-in-out;
    font-family: 'Mulish';
font-style: normal;


}


  

.t-card:hover{
    background-color: #013A6B;
}

.t-image{    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    
    margin-left: 4px;
    margin-top: 20px;

    display: block;
   
}

.t-image img{
    width:100%;

}
.t-card h4{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 92%;
/* identical to box height, or 22px */

letter-spacing: -0.03em;
padding-top: 16px;

color: #013A6B;
    
}

.t-card h6{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    /* identical to box height, or 17px */
    
    letter-spacing: -0.03em;
    padding-top: 16px;
    text-transform: uppercase;
    
    color: rgba(52, 52, 52, 0.65);
}

.t-card p{
    margin-bottom: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 139.5%;
    /* or 28px */
    
    letter-spacing: -0.01em;
    
    /* Texts - Main */
    
    color: #333333;
}

.t-card:hover p{
    margin-bottom: 15px;
    color: #DFE8F8;
}

.t-card:hover h4{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 92%;
/* identical to box height, or 22px */

letter-spacing: -0.03em;

color: #ffffff;

}

.t-card:hover h6{
    color: rgba(255, 255, 255, 0.65);
}